In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\milan\Desktop\Final_Projects\Customer_conversion\Customer_Conversion_Prediction.csv')
df.head()

,age,job,marital,education_qual,call_type,day,mon,dur,num_calls,prev_outcome,y
0,58,management,married,tertiary,unknown,5,may,261,1,unknown,no
1,44,technician,single,secondary,unknown,5,may,151,1,unknown,no
2,33,entrepreneur,married,secondary,unknown,5,may,76,1,unknown,no
3,47,blue-collar,married,unknown,unknown,5,may,92,1,unknown,no
4,33,unknown,single,unknown,unknown,5,may,198,1,unknown,no

In [4]:
from sklearn.model_selection import KFold

In [5]:
kf = KFold(n_splits = 10)

In [6]:
for train, test in kf.split(df):
    print(train, test)

[ 4522  4523  4524 ... 45208 45209 45210] [   0    1    2 ... 4519 4520 4521]
[    0     1     2 ... 45208 45209 45210] [4522 4523 4524 ... 9040 9041 9042]
[    0     1     2 ... 45208 45209 45210] [ 9043  9044  9045 ... 13561 13562 13563]
[    0     1     2 ... 45208 45209 45210] [13564 13565 13566 ... 18082 18083 18084]
[    0     1     2 ... 45208 45209 45210] [18085 18086 18087 ... 22603 22604 22605]
[    0     1     2 ... 45208 45209 45210] [22606 22607 22608 ... 27124 27125 27126]
[    0     1     2 ... 45208 45209 45210] [27127 27128 27129 ... 31645 31646 31647]
[    0     1     2 ... 45208 45209 45210] [31648 31649 31650 ... 36166 36167 36168]
[    0     1     2 ... 45208 45209 45210] [36169 36170 36171 ... 40687 40688 40689]
[    0     1     2 ... 40687 40688 40689] [40690 40691 40692 ... 45208 45209 45210]

In [7]:
from sklearn.model_selection import StratifiedKFold

In [8]:
skf = StratifiedKFold(n_splits = 10)

In [15]:
x = df.iloc [: , : -1]
y = df.iloc [ : , -1]

In [17]:
for train, test in skf.split(x, y):
    print(train, test)

[ 4114  4115  4116 ... 45208 45209 45210] [    0     1     2 ... 13686 13690 13701]
[    0     1     2 ... 45208 45209 45210] [ 4114  4115  4116 ... 21876 21884 21909]
[    0     1     2 ... 45208 45209 45210] [ 8255  8256  8257 ... 30917 30959 30992]
[    0     1     2 ... 45208 45209 45210] [12437 12438 12439 ... 33809 33815 33818]
[    0     1     2 ... 45208 45209 45210] [16701 16702 16703 ... 38628 38637 38653]
[    0     1     2 ... 45208 45209 45210] [20972 20973 20974 ... 40710 40718 40719]
[    0     1     2 ... 45208 45209 45210] [25196 25197 25198 ... 42127 42128 42129]
[    0     1     2 ... 45208 45209 45210] [29420 29421 29422 ... 43174 43175 43176]
[    0     1     2 ... 45208 45209 45210] [34226 34227 34228 ... 44144 44146 44148]
[    0     1     2 ... 44144 44146 44148] [38571 38572 38573 ... 45208 45209 45210]

# Cross validation

In [19]:
# we can directly obtain out model scores by cross_validation
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [21]:
# After converting our model into 1s and 0s we can apply this
#cross_val_score(LogisticRegression(), x, y)