In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv(r'C:\Users\milan\Desktop\ML\Multiple_linear_regression\50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
df.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [4]:
df = pd.get_dummies(df, columns= ['State'])
df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [5]:
y = df['Profit']
df.drop(columns = ['Profit', 'State_New York'] , inplace = True)
df.head()

   R&D Spend  Administration  Marketing Spend  State_California  State_Florida
0  165349.20       136897.80        471784.10                 0              0
1  162597.70       151377.59        443898.53                 1              0
2  153441.51       101145.55        407934.54                 0              1
3  144372.41       118671.85        383199.62                 0              0
4  142107.34        91391.77        366168.42                 0              1

In [6]:
x = df
x.head()

   R&D Spend  Administration  Marketing Spend  State_California  State_Florida
0  165349.20       136897.80        471784.10                 0              0
1  162597.70       151377.59        443898.53                 1              0
2  153441.51       101145.55        407934.54                 0              1
3  144372.41       118671.85        383199.62                 0              0
4  142107.34        91391.77        366168.42                 0              1

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 5)

In [8]:
regressor = LinearRegression()

In [9]:
regressor.fit(x_train,y_train)

LinearRegression()

In [10]:
model_score = regressor.score(x_test, y_test) * 100
print(model_score)

97.54154859051857

In [11]:
regressor.predict([[50000,20000,80000,1,0]])

D:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([91448.86950642])

In [13]:
y_pred = regressor.predict(x_test)