In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [9]:
df1 = pd.read_csv(r'D:\DS\DataSets\ML\Credit_card_approval\application_record.csv')
df2 = pd.read_csv(r'D:\DS\DataSets\ML\Credit_card_approval\credit_record.csv')

In [13]:
df2.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [14]:
df = pd.merge(df1, df2, how = 'inner', on = 'ID')