In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [110]:
df = pd.read_csv(r'C:\Users\milan\Desktop\ML\Data_Preprocessing\Data.csv')
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [111]:
# Seperating the Feature and dependent variable
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [112]:
print(x)
print(y)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

### Handling Nan values

In [113]:
from sklearn.impute import SimpleImputer
# we have called the class SimpleImputer now need to create the object to that class and use it
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# after this we are going to call method names fit using this imputer object fit only accepts numeric columns
imputer.fit(x[:, 1:3]) #rows and columns ah kudukanum
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [114]:
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

### Encode categorical data

In [115]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [116]:
# Needed libraries
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [117]:
#here we have converted our dataframe into arrays so get dummies wont work and we have to use these libraries

In [118]:
ct = ColumnTransformer(transformers = [ ('encoder' , OneHotEncoder() , [0])], remainder = 'passthrough')
# calling the class and passing encoder and what type encoding needed and then for which column it needs to be encoded and then 
#in remainder we are saying add the other column which not need to be encoded otherwise in output we will get only encoded columns and not others
#this time we are calling fit_transform method
x = ct.fit_transform(x)

In [119]:
print(x)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [120]:
y1 = np.where( y == 'Yes' , 1, 0)

In [121]:
print(y1)

[0 1 0 0 1 1 0 1 0 1]

In [122]:
# Now we are going to use label encoder for dependent variable
from sklearn.preprocessing import LabelEncoder
lc = LabelEncoder()
y = lc.fit_transform(y)

In [123]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [124]:
df = pd.get_dummies(df, columns = ['Country'])
df.head()

    Age   Salary Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0        No               1                0              0
1  27.0  48000.0       Yes               0                0              1
2  30.0  54000.0        No               0                1              0
3  38.0  61000.0        No               0                0              1
4  40.0      NaN       Yes               0                1              0

### Splitting data for train and test

In [160]:
from sklearn.model_selection import train_test_split
X_train, X_test , Y_train, Y_test = train_test_split(x ,y, test_size = 0.2, train_size = 0.8, random_state = 1)

In [161]:
print(X_train)

[[0.0 0.0 1.0 38.77777777777778 52000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 35.0 58000.0]]

In [162]:
print(X_test)

[[0.0 1.0 0.0 30.0 54000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [163]:
print(Y_train)

[0 1 0 0 1 1 0 1]

In [164]:
print(Y_test)

[0 1]

### Feature Scaling

#### Standarization --> X- Mean(X) / S.D(X)
#### Normalization --> X - min(X) / max(X) - min(X)

In [165]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [168]:
X_train[: , 3 :] = ss.fit_transform(X_train[: , 3 :])
X_test[: , 3 :] = ss.fit_transform(X_test[: , 3 :])

In [169]:
print(X_train)
print(X_test)

[[0.0 0.0 1.0 -0.19159184384578545 -1.0781259408412425]
 [0.0 1.0 0.0 -0.014117293757057777 -0.07013167641635372]
 [1.0 0.0 0.0 0.566708506533324 0.633562432710455]
 [0.0 0.0 1.0 -0.30453019390224867 -0.30786617274297867]
 [0.0 0.0 1.0 -1.9018011447007988 -1.420463615551582]
 [1.0 0.0 0.0 1.1475343068237058 1.232653363453549]
 [0.0 1.0 0.0 1.4379472069688968 1.5749910381638885]
 [1.0 0.0 0.0 -0.7401495441200351 -0.5646194287757332]]
[[0.0 1.0 0.0 -1.0 -1.0]
 [1.0 0.0 0.0 1.0 1.0]]