# It's a key value pairs and keys must be unique

In [10]:
d1 = {'name':'Milan','age':'25','job':'DB'}
print(d1['name'])
print(d1['age'])
print(d1['job'])

Milan
25
DB

In [11]:
d1

{'name': 'Milan', 'age': '25', 'job': 'DB'}

In [19]:
#  To access a key which is not present use get method to aviod error
print(d1.get('name'))
print(d1.get('address','Not Found da mairu')) # second is passsing as default value for not present keys

Milan
Not Found da mairu

In [25]:
d1['love'] = 'Lins' # if this key already present it will update the value if not present it willadd this as new entry
d1['age'] = 30

In [26]:
print(d1['name'])
print(d1['age'])
print(d1['job'])
print(d1['love'])

Milan
30
DB
Lins

In [27]:
# to update so many values we can use update method
# update method will take an dictionary as argument
d1.update({'age' : 25, 'job' : 'VettiPunda'})

In [28]:
print(d1['name'])
print(d1['age'])
print(d1['job'])
print(d1['love'])

Milan
25
VettiPunda
Lins

In [7]:
d2 = {'name':'Milan','age':25,'study':['SSLC','HSC','Engineering']}

In [13]:
import pandas as pd
df = pd.DataFrame(d2,columns = ['name','age','study'])
df.isna()

    name    age  study
0  False  False  False
1  False  False  False
2  False  False  False