# LIST

In [2]:
# Collection of elements
list1 = ['Milan','Linssie']
list1

['Milan', 'Linssie']

In [3]:
list1[0]
list1[1]

'Linssie'

In [4]:
# To get last item in list give -1 in the index
list1[-1]

'Linssie'

In [5]:
list2 = ['Victor','Shruthi']

In [6]:
list2[-1]

'Shruthi'

In [7]:
list3 = list1 + list2

In [8]:
list3

['Milan', 'Linssie', 'Victor', 'Shruthi']

In [9]:
list3.append('Loves')

In [10]:
list3

['Milan', 'Linssie', 'Victor', 'Shruthi', 'Loves']

In [11]:
list3.count('Linssie')

1

In [12]:
list3.reverse()

In [13]:
list3

['Loves', 'Shruthi', 'Victor', 'Linssie', 'Milan']

In [14]:
list1

['Milan', 'Linssie']

In [25]:
# to append a value in a particular index we are using insert method
list1.insert(1,'Loves') #index,value

In [26]:
list1

['Milan', 'Loves', 'Loves', 'Linssie']

In [27]:
list1.remove('Loves') # not going to delete all the values in loves one time run panna one value dha delete aagum

In [28]:
list1

['Milan', 'Loves', 'Linssie']

In [41]:
l1 = ['M','I','L']
l2 = ['A','N']
#if we want to add the values to other list we can use + method
#l1 + l2

In [36]:
#or we can use the method called extend, if we use append it will insert as list to add the values we need to use extend
l1.append(l2)
l1

['M', 'I', 'L', ['A', 'N']]

In [42]:
# to insert the values use extend
l1
l1.extend(l2)

['M', 'I', 'L', 'A', 'N']

In [43]:
l1

['M', 'I', 'L', 'A', 'N']

In [45]:
l1 + l2
l1

['M', 'I', 'L', 'A', 'N']

In [46]:
#pop method use the last element of  our list
popp = l1.pop()
popp

'N'

In [47]:
l1

['M', 'I', 'L', 'A']

In [60]:
# to reverse  it
l1.reverse()
l1

['A', 'L', 'I', 'M']

In [62]:
# Sorting
l1.sort()
l1

['A', 'I', 'L', 'M']

In [64]:
# to sort descending order
l1.sort(reverse = True)
l1

['M', 'L', 'I', 'A']

In [68]:
# if we don't want to change the order of elements in our list and need sorted version instead of sort method 
#we are going to use sorted function
sorted_list = sorted(l1)
print(sorted_list)
l1

['A', 'I', 'L', 'M']

['M', 'L', 'I', 'A']

In [72]:
# we have min max and sum also
print(min(l1))
print(max(l1))
#print(sum(l1)) we can't use this for string list but can use it for int list

A
M

In [78]:
num = [10,15,15,95,56]
print(sum(num))

191

In [81]:
# clear methos will remove all elements
num

[10, 15, 15, 95, 56]

In [84]:
# To Find the index of list
num.index(15)

1

In [85]:
# To check if an element is present in the list  or not
print(4568  in num)

False

In [88]:
if 4578 not in num:
    print('Poda Loosu Punda')

Poda Loosu Punda

In [90]:
# we have function called enumerate and it will return the index and values
for ind, i in enumerate(num):
    print(ind,i)

0 10
1 15
2 15
3 95
4 56

In [94]:
# if we need to specify starting value for our index we can use start
for ind, i in enumerate(num, start = 12):
    print(ind,i)

12 10
13 15
14 15
15 95
16 56

In [101]:
# to change our list elements to an entire string we can use join function
new_l1 = '-'.join(l1)
new_l1

'M-L-I-A'

In [103]:
# to change the this string to list we can use split function
new_list = new_l1.split('-')
new_list

['M', 'L', 'I', 'A']