In [2]:
!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: dnspython in d:\anaconda\lib\site-packages (2.2.1)
Requirement already satisfied: pymongo[srv] in d:\anaconda\lib\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in d:\anaconda\lib\site-packages (from pymongo[srv]) (2.2.1)

In [9]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://milanvictorv:MilLin1922%40@cluster0.pfmfndh.mongodb.net/?retryWrites=true&w=majority")
db = client.sample
records = db.test
a = {"name" : "Milan", "age" : "23", "company" : "TCS"}
records.insert_one(a)

In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb+srv://milanvictorv:MilLin1922%40@cluster0.pfmfndh.mongodb.net/?retryWrites=true&w=majority")

In [4]:
mydb = client['guvi1']
mycollection = mydb['phone']

In [4]:
data = {'name':'Milan','age':23,'email':'milan@abc.com'}
doc_id = mycollection.insert_one(data)
print(doc_id.inserted_id)

63300916ebafaffb1c223bc2

In [7]:
data = {'name':'Linssie','age':23,'email':'linssie@abc.com'}
doc_id = mycollection.insert_one(data)
print(doc_id.inserted_id)

63410d8f564107b4c48b954a

In [6]:
#insert many data on single step
# plus point in mongo is no structure is there so we can add another column also
l1 = [{'name':'Nithish','age':23,'email':'bee@abc.com','nickname':'Bee'},
      {'name':'abc','age':23,'email':'abc@abc.com'},
      {'name':'bcd','age':23,'email':'bcd@abc.com'},
      {'name':'def','age':23,'email':'def@abc.com'}]
docids = mycollection.insert_many(l1)
print(docids.inserted_ids)

[ObjectId('63300917ebafaffb1c223bc4'), ObjectId('63300917ebafaffb1c223bc5'), ObjectId('63300917ebafaffb1c223bc6'), ObjectId('63300917ebafaffb1c223bc7')]

In [7]:
# it will give the first data in that collection
tmp = mycollection.find_one()
print(tmp)

{'_id': ObjectId('63300916ebafaffb1c223bc2'), 'name': 'Milan', 'age': 23, 'email': 'milan@abc.com'}

In [7]:
# to get all data
tmp = mycollection.find()
for i in tmp:
    print(i)

{'_id': 'Milan', 'email': 'mv@gmail.com', 'phone': '1234567894'}

In [9]:
# to select some columns only
# syntax
    #tmp = mycollection.find({condition on docs},{condition on diff fields})
#tmp = mycollection.find({},{}) # if we give n condition all data will come
tmp = mycollection.find({},{'_id':0,'age':1,'name':1})#only one condition in first {}
# while giving id we can give another one condition also
# second bracket la only 1 or 0 dha kudukka mudium
# second bracket la dha collection oda columns uh select pannna mudium
# second bracket la _id ku only 0 or 1 kuduthutu math aellam same ah irukanum
for i in tmp:
    print(i)

{'name': 'Milan', 'age': 23}
{'name': 'Linssie', 'age': 23}
{'name': 'Nithish', 'age': 23}
{'name': 'abc', 'age': 23}
{'name': 'bcd', 'age': 23}
{'name': 'def', 'age': 23}

In [21]:
#to apply some condition
#query = {'age':{'$lt':30}}
for res in mycollection.find({'age':{'$eq':23}},{'_id':0,'email':0}):
    print(res)

{'name': 'Milan', 'age': 23}
{'name': 'Linssie', 'age': 23}
{'name': 'Nithish', 'age': 23, 'nickname': 'Bee'}
{'name': 'abc', 'age': 23}
{'name': 'bcd', 'age': 23}
{'name': 'def', 'age': 23}

In [25]:
# not to get the data as dict format
for res in mycollection.find({'age':{'$eq':23}},{'_id':0,'email':0}):
    print(res['name'],' - ',res['age'])

Milan  -  23
Linssie  -  23
Nithish  -  23
abc  -  23
bcd  -  23
def  -  23

In [28]:
#Sorting  the data by name
for res in mycollection.find({'age':{'$eq':23}}).sort('name',-1): #-1 means descendin order and 1 is ascending order
    print(res['name'],' - ',res['age'])

def  -  23
bcd  -  23
abc  -  23
Nithish  -  23
Milan  -  23
Linssie  -  23

In [30]:
# deleting a data
# delete_one will delete the first data which matching the condition
# delete_many will delete all the data which matching the condition
res = mycollection.delete_one({'name':'abc'})
print(res.deleted_count)

0

In [32]:
for res in mycollection.find():
    print(res['name'],'-',res['age'],'-',res['email'])

Milan - 23 - milan@abc.com
Linssie - 23 - linssie@abc.com
Nithish - 23 - bee@abc.com
bcd - 23 - bcd@abc.com
def - 23 - def@abc.com

In [33]:
# updating have update one and update many also
# always remember whenever we are going to use an operator in mongo it must start with $
mycollection.update_one({'name':'bcd'},{'$set':{'name':'updated_name'}})

In [34]:
for res in mycollection.find():
    print(res['name'],'-',res['age'],'-',res['email'])

Milan - 23 - milan@abc.com
Linssie - 23 - linssie@abc.com
Nithish - 23 - bee@abc.com
updated_name - 23 - bcd@abc.com
def - 23 - def@abc.com

In [36]:
# Limiting the result set
for res in mycollection.find().limit(2):#given no of results will come
    print(res['name'],'-',res['age'],'-',res['email'])

Milan - 23 - milan@abc.com
Linssie - 23 - linssie@abc.com

In [38]:
mycollection.update_one({'name':'Nithish'},{'$set':{'nickname':['Theni','Bee']}})

In [42]:
# Limiting the result set
for res in mycollection.find():#given no of results will come
    print(res)

{'_id': ObjectId('63300916ebafaffb1c223bc2'), 'name': 'Milan', 'age': 23, 'email': 'milan@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc3'), 'name': 'Linssie', 'age': 23, 'email': 'linssie@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc4'), 'name': 'Nithish', 'age': 23, 'email': 'bee@abc.com', 'nickname': ['Theni', 'Bee']}
{'_id': ObjectId('63300917ebafaffb1c223bc6'), 'name': 'updated_name', 'age': 23, 'email': 'bcd@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc7'), 'name': 'def', 'age': 23, 'email': 'def@abc.com'}

In [58]:
Allcourses =[
{
'Course': "Java",
'details': { 'Duration': "6 months", 'Trainer': "Blah Blah Blah" },
'Batch': [ { 'size': "Medium", 'qty': 25 } ],
'category': "Programming Language"
},
{
'Course': ".Net",
'details': { 'Duration': "6 months", 'Trainer': "Prashant Verma" },
'Batch': [ { 'size': "Small", 'qty': 5 }, { 'size': "Medium", 'qty': 10 }, ],
'category': "Programming Language"
},
{
'Course': "Web Designing",
'details': { 'Duration': "3 months", 'Trainer': "Rashmi Desai" },
'Batch': [ { 'size': "Small", 'qty': 5 }, { 'size': "Large", 'qty': 10 } ],
'category': "Programming Language"
}]

In [63]:
res = mycollection.insert_many(Allcourses)
print(res)

<pymongo.results.InsertManyResult object at 0x00000244D1BB16A0>

In [65]:
# this is called embedding
# it means storing one collection inside another collection
for i in mycollection.find():
    print(i)

{'_id': ObjectId('63300916ebafaffb1c223bc2'), 'name': 'Milan', 'age': 23, 'email': 'milan@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc3'), 'name': 'Linssie', 'age': 23, 'email': 'linssie@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc4'), 'name': 'Nithish', 'age': 23, 'email': 'bee@abc.com', 'nickname': ['Theni', 'Bee']}
{'_id': ObjectId('63300917ebafaffb1c223bc6'), 'name': 'updated_name', 'age': 23, 'email': 'bcd@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc7'), 'name': 'def', 'age': 23, 'email': 'def@abc.com'}
{'_id': ObjectId('63301869ebafaffb1c223bc8'), 'Course': 'Java', 'details': {'Duration': '6 months', 'Trainer': 'Blah Blah Blah'}, 'Batch': [{'size': 'Medium', 'qty': 25}], 'category': 'Programming Language'}
{'_id': ObjectId('63301869ebafaffb1c223bc9'), 'Course': '.Net', 'details': {'Duration': '6 months', 'Trainer': 'Prashant Verma'}, 'Batch': [{'size': 'Small', 'qty': 5}, {'size': 'Medium', 'qty': 10}], 'category': 'Programming Language'}
{'_id': ObjectId('63301869ebafaffb1c223bca'), 'Course': 'Web Designing', 'details': {'Duration': '3 months', 'Trainer': 'Rashmi Desai'}, 'Batch': [{'size': 'Small', 'qty': 5}, {'size': 'Large', 'qty': 10}], 'category': 'Programming Language'}

In [66]:
# References
# it means storing another collections id in another collection used to joins i belive
# creating another collection
collection2 = mydb['name']

In [67]:
# This is how we should reference a document
name = {'first':'Milan','last':'victor'}
ids = collection2.insert_one(name)
data= {
    'name':ids.inserted_id,
    'age' : 23,
    'email': 'abcdefghi@gmail.com'
}
res = mycollection.insert_one(data)
print(res.inserted_id)

63301dacebafaffb1c223bcc

In [68]:
for i in mycollection.find():
    print(i)

{'_id': ObjectId('63300916ebafaffb1c223bc2'), 'name': 'Milan', 'age': 23, 'email': 'milan@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc3'), 'name': 'Linssie', 'age': 23, 'email': 'linssie@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc4'), 'name': 'Nithish', 'age': 23, 'email': 'bee@abc.com', 'nickname': ['Theni', 'Bee']}
{'_id': ObjectId('63300917ebafaffb1c223bc6'), 'name': 'updated_name', 'age': 23, 'email': 'bcd@abc.com'}
{'_id': ObjectId('63300917ebafaffb1c223bc7'), 'name': 'def', 'age': 23, 'email': 'def@abc.com'}
{'_id': ObjectId('63301869ebafaffb1c223bc8'), 'Course': 'Java', 'details': {'Duration': '6 months', 'Trainer': 'Blah Blah Blah'}, 'Batch': [{'size': 'Medium', 'qty': 25}], 'category': 'Programming Language'}
{'_id': ObjectId('63301869ebafaffb1c223bc9'), 'Course': '.Net', 'details': {'Duration': '6 months', 'Trainer': 'Prashant Verma'}, 'Batch': [{'size': 'Small', 'qty': 5}, {'size': 'Medium', 'qty': 10}], 'category': 'Programming Language'}
{'_id': ObjectId('63301869ebafaffb1c223bca'), 'Course': 'Web Designing', 'details': {'Duration': '3 months', 'Trainer': 'Rashmi Desai'}, 'Batch': [{'size': 'Small', 'qty': 5}, {'size': 'Large', 'qty': 10}], 'category': 'Programming Language'}
{'_id': ObjectId('63301dacebafaffb1c223bcc'), 'name': ObjectId('63301dacebafaffb1c223bcb'), 'age': 23, 'email': 'abcdefghi@gmail.com'}

In [94]:
# Now we are going to retrive the referencing data
for i in mycollection.find({'email': 'abcdefghi@gmail.com'},{}):
    tmp = i['name']
    for res in collection2.find({'_id':tmp},{'_id':0}):
        print(res['first'],'',res['last'])

Milan  victor

In [32]:
mydb = client['phone']
mycollection = mydb['excercise']

In [11]:
d1 = {
    '_id' : input('Enter Your Name:'),
    'email': input('Enter Your Email:'),
    'phone':input('Enter Your Phone Number')
}

Enter Your Name:Milan
Enter Your Email:mv@gmail.com
Enter Your Phone Number1234567894

In [13]:
mycollection.insert_one(d1)

In [14]:
a = mycollection.find({'_id':'Milan'}).limit(5)
for i in a:
    print(i)

{'_id': 'Milan', 'email': 'mv@gmail.com', 'phone': '1234567894'}

In [16]:
import pandas as pd

In [42]:
a = mycollection.find()
#df = pd.DataFrame(a)

In [43]:
for i in a:
    print(i)

{'_id': 'victor', 'email': 'vm@gmmail.com', 'phone': '9564758425'}
{'_id': 'Nithish', 'email': 'ns@gmail.com', 'phone': '87781524586'}
{'_id': 'Milan', 'email': 'mv@gmail.com', 'phone': '978522154', 'age': 23}

In [36]:
df.rename(columns = {'_id':'Name'}, inplace = True)

In [40]:
df.set_index('Name',inplace = True)

In [19]:
df

     _id         email       phone
0  Milan  mv@gmail.com  1234567894

In [39]:
# update statement
#update_one and update_many
#syntax collection.update_one({Query to find which record},{new value for update or insert})
# if the given value is already there it will updated if not there then it will inserted
res = mycollection.update_one({'_id':'Milan'},{'$set':{'age':23}})
# namma name uh find panni age insert pandrom because afe is not there so it will insert it
print(res.modified_count)

1

In [49]:
a = mycollection.find()
for i in a:
    print(i['_id'] + ' - '+i['email'] + ' - ' + i['phone'])

victor - vm@gmmail.com - 9564758425
Nithish - ns@gmail.com - 87781524586
Milan - mv@gmail.com - 978522154

In [50]:
#unset
# removing an particular key value
# syntax is same as update
res = mycollection.update_one({'_id':'Milan'},{'$unset':{'age':True}})
print(res.modified_count)

1

In [53]:
a = mycollection.find()
for i in a:
    print(i)

{'_id': 'victor', 'email': 'vm@gmmail.com', 'phone': '9564758425'}
{'_id': 'Nithish', 'email': 'ns@gmail.com', 'phone': '87781524586'}
{'_id': 'Milan', 'email': 'mv@gmail.com', 'phone': '978522154', 'LastModified': datetime.datetime(2022, 10, 9, 4, 26, 52, 650000)}

In [55]:
res = mycollection.update_one({'_id':'victor'},{'$currentDate':{'LastModified':True}})
print(res.modified_count)

1